/* General styles */
body,
ul,
h3 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #B9879F;
}

/* Header styles */
header {
    margin-bottom: 50px;
    background: #FFFFFF;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 200px;
    height: 100px;
    margin-right: 20px;
    margin-left: 150px;
    transition: transform 0.3s ease-in-out;
}

.header-logo:hover {
    transform: scale(1.1);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav-links {
    margin-left: 85px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-links li {
    list-style: none;
}

.nav-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.nav-links img:hover {
    transform: rotate(360deg);
}


/* MAIN */
main {
    padding: 20px;
}

/* Flash Sales Section */
.flash-sales {
    text-align: center;
    margin-bottom: 40px;
}

.flash-sales-banner img {
    width: 800px;
    height: auto;
    max-width: 1024px;
}

.flash-sales-timer h2 {
    margin: 20px 0;
    font-size: 24px;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.time {
    font-size: 20px;
}

.flash-sales-products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.product {
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
}

.product p {
    margin: 5px 0;
}

.rating {
    color: gold;
}

.view-all-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Browse by Category Section */
.browse-category {
    text-align: center;
    margin-bottom: 40px;
}

.browse-category h2 {
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.category {
    text-align: center;
}

.category img {
    width: 150px;
    height: 150px;
}

.category p {
    margin-top: 10px;
}

/* Best Selling Products Section */
.best-selling {
    text-align: center;
    margin-bottom: 40px;
}

.best-selling h2 {
    margin-bottom: 20px;
}

.best-selling img {
    width: 100px;
    height: 100px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
}

.product p {
    margin: 5px 0;
}

.rating {
    color: gold;
}

/* Explore Our Products Section */
.explore-products {
    text-align: center;
    margin-bottom: 40px;
}

.explore-products h2 {
    margin-bottom: 20px;
}

.explore-products .products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* New Arrival Section */
.new-arrival {
    text-align: center;
    margin-bottom: 40px;
}

.new-arrival h2 {
    margin-bottom: 20px;
}

.new-arrival-banner img {
    width: 700px;
    height: 400px;
    max-width: 1024px;
}



/* FOOTER */
footer {
    margin-top: 50px;
    background: #FFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 200px;
    margin-right: 10px;
    margin-left: 60px;
    transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
    transform: scale(1.1);
}

.footer-right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.footer-section h3:hover {
    color: #B9879F;
}

.footer-section ul {
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    display: block;
    transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
    color: #B9879F;
}

.footer-section form {
    display: flex;
}

.footer-section input[type="email"] {
    margin-top: 9px;
    height: 15px;
    padding: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.footer-section input[type="email"]:focus {
    background-color: #f0f0f0;
    border: 1px solid #B9879F;
}

.footer-section button {
    padding: 5px 10px;
    background-color: #B9879F;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer-section button:hover {
    background-color: #A76D8B;
    transform: scale(1.1);
}

.footer-section .social-icons {
    margin-left: 4px;
    display: flex;
    gap: 10px;
}

.footer-section .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.footer-section .social-icons img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {

    header,
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-right,
    .footer-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links,
    .nav-icons,
    .footer-section {
        margin-bottom: 10px;
    }

    .footer-right {
        flex-wrap: wrap;
    }
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

/* ADDTIONAL */
/* Buttons */
button {
    padding: 10px 20px;
    background-color: #B9879F;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #A76D8B;
    transform: scale(1.05);
}

button span.ripple {
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
    background-color: rgba(255, 255, 255, 0.6);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.section img {
    width: 100%;
    height: auto;
    max-width: 1024px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flash-sales {
    text-align: center;
    margin-bottom: 30px;
}

.countdown {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#countdown-timer {
    font-size: 32px;
    color: #B9879F;
    font-weight: bold;
}

/* Add smooth scrolling */
html {
    scroll-behavior: smooth;
}

.flash-sales-banner img,
.product img,
.category img,
.new-arrival-banner img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img:hover,
.category img:hover,
.flash-sales-banner img:hover,
.new-arrival-banner img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Flash Sales Products */
.flash-sales-products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}

.flash-sales-products::-webkit-scrollbar {
    height: 8px;
}

.flash-sales-products::-webkit-scrollbar-thumb {
    background-color: #B9879F;
    border-radius: 10px;
}

/* Browse by Category */
.categories {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}

.categories::-webkit-scrollbar {
    height: 8px;
}

.categories::-webkit-scrollbar-thumb {
    background-color: #B9879F;
    border-radius: 10px;
}

/* Best Selling Products */
.best-selling .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}

.best-selling .products::-webkit-scrollbar {
    height: 8px;
}

.best-selling .products::-webkit-scrollbar-thumb {
    background-color: #B9879F;
    border-radius: 10px;
}

/* Explore Our Products */
.explore-products .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}

.explore-products .products::-webkit-scrollbar {
    height: 8px;
}

.explore-products .products::-webkit-scrollbar-thumb {
    background-color: #B9879F;
    border-radius: 10px;
}

/* ADTIONAL */
#search-field {
    width: 183px;
    display: none;
    position: relative;
    top: 40px;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
}

/* User profile dropdown styles */
.user-dropdown {
    width: 150px;
    display: none;
    position: relative;
    margin-top: 40px;
    top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.user-dropdown a {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px;
    color: #333;

    text-decoration: none;
}

.user-dropdown a:hover {
    background-color: #f0f0f0;
}

#search-container {
    position: relative;
}

#search-button {
    display: none;
    position: relative;
    margin-top: 50px;
    padding: 5px 10px;
    background-color: #B9879F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-button:hover {
    background-color: #A76D8B;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.product img, .category img, button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img:hover, .category img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #A76D8B;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.new-arrival-banner img {
    animation: fadeIn 1s ease-out;
}

/*ADDTIONAL*/